<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Log</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/travelApp/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/travelApp/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Ultra&display=swap" rel="stylesheet">

</head>
<body>
<nav>
    {% if request.user.is_authenticated %}
    <h3>Safe Travels</h3>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'myLogs' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

    {% else %}
    <h3>Safe Travels</h3>
    <ul class="nav justify-content-center">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'newUser' %}">New User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    </ul>

    <br>
    {% endif %}
</nav>
{% block content %}


{% endblock %}
</body>
</html>