{% extends 'travelApp/base.html' %}

{% block content %}

<h4>Safe Travels</h4>

<form class="searchBar" action="{% url 'searchLocation' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="searchBar" placeholder="search for a location...">
    <button type="submit" class="btn btn-light btn-sm">Search</button>
</form>

<div class="mapAndLogs">

    <div id="map"></div>

    <div class="listLogs">
        {% for logs in allLogs %}
        <a href="{% url 'logDetails' logs.id %}"><p class="locationName">{{logs.location}}</p></a>
        <p class="lat">{{logs.location_lat}}</p>
        <p class="long">{{logs.location_long}}</p>
        <hr>
        {% endfor %}
    </div>
</div>


<script>

    var long_array = [];
    var lat_array = [];
    var location_name = [];

    let locationLong = document.getElementsByClassName("long");
    for (let i = 0; i < locationLong.length; i++) {
        long_array.push(parseInt(locationLong[i].innerHTML))
    }

    let locationLat = document.getElementsByClassName("lat");
    for (let i = 0; i < locationLat.length; i++) {
        lat_array.push(parseInt(locationLat[i].innerHTML))
    }

    let locationName = document.getElementsByClassName("locationName");
    for (let i = 0; i < locationName.length; i++) {
        location_name.push(locationName[i].innerHTML)
    }

    function initMap() {

        let myLatLng = {lat: 35, lng: -90};

        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.1495, lng: -90.0490},
            zoom: 4
        });

        setMarkers(map)
    }

    function setMarkers(map){
        for (let i = 0; i < lat_array.length; i++) {
            let marker = new google.maps.Marker({
                position: {lat: lat_array[i], lng: long_array[i]},
                map: map,
                title: location_name[i],
            });
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVeR1EcysjeZr4eQE_mtiJ6suMxXY52Y&callback=initMap"
        async defer></script>

{% endblock %}
