{% extends 'travelApp/base.html' %}

{% block content %}
<div class="formatDetails">

    <div class="detailsHeader">
        <h4>{{ log.location }}</h4>
        <p>
            By: {{log.userModel_fk.username}}
        </p>
    </div>

   <div class="detailsDetails">
       <p>
           Date of Visit:
           {{ log.date_of_visit  }}
       </p>
       <p>
           {{ log.summary }}
       </p>
   </div>

    {% if log.image %}
    <div class="detailImage">
        <img src="{{ log.image.url }}" alt="log image">
    </div>
    {% endif %}

    <div class="detailsRatings">
        <p>
            Saftey:
            {{ log.safety }}/5
        </p>
        <p>
            Affordability:
            {{ log.affordability }}/5
        </p>
        <p>
            Accessbility:
            {{ log.accessibility }}/5
        </p>
    </div>

    {% if request.user.username == log.userModel_fk.username %}
    <div class="detailsButtons">
        <a href="{% url 'editLog' log.id %}">
            <button type="button" class="btn btn-light">Edit Log</button>
        </a>
        <a href="{% url 'deleteLog' log.id %}">
            <button type="button" class="btn btn-light">Delete Log</button>
        </a>
    </div>
    {% endif %}


</div>



{% endblock %}