{% extends 'travelApp/base.html' %}

{% block content %}
<h2>{{ request.user }}'s Travel Log</h2>
<a href="{% url 'newLog' %}"><button class="btn-primary">Add a Log</button></a>
<hr/>

{% if myLogs %}
    {% for logs in myLogs %}
        <p>{{logs.location}}</p>
        <p>{{logs.summary}}</p>

        <p class="lat">{{logs.location_lat}}</p>
        <p class="long">{{logs.location_long}}</p>
        <hr>
    {% endfor %}
{% else %}
    <h3>You have no logs</h3>
{% endif %}

<script>
    let locationLong = document.getElementsByClassName("long");
    for (let i = 0; i < locationLong.length; i++) {
        console.log("Longitude: "+ locationLong[i].innerHTML)
    }

    let locationLat = document.getElementsByClassName("lat");
    for (let i = 0; i < locationLat.length; i++) {
        console.log("Latitude: "+locationLat[i].innerHTML)
    }
</script>

{% endblock %}
