{% extends 'travelApp/base.html' %}

{% block content %}

<h4>Search Results</h4>

<div class="formatSearch">
    <p>{{input}} </p>
    <span>Location Latitude: </span>
    <span id="locationLatitude"> </span>
    <span>Location Longitude</span>
    <span id="locationLongitude"> </span>
</div>

<div class="mapAndLogs">
    {% if search %}
        <div id="map"></div>
    {% endif %}
    <div class="listLogs">
        {% for logs in allLogs %}
        <a href="{% url 'logDetails' logs.id %}"><p class="locationName">{{logs.location}}</p></a>
        <p class="lat">{{logs.location_lat}}</p>
        <p class="long">{{logs.location_long}}</p>
        <hr>
        {% endfor %}
    </div>
</div>

<p class="json">{{search}}</p>
<!--<p>{{allLogs}}</p>-->

<script>

    var long_array = [];
    var lat_array = [];
    var location_name = [];

    let locationLong = document.getElementsByClassName("long");
    for (let i = 0; i < locationLong.length; i++) {
        long_array.push(parseInt(locationLong[i].innerHTML))
    }

    let locationLat = document.getElementsByClassName("lat");
    for (let i = 0; i < locationLat.length; i++) {
        lat_array.push(parseInt(locationLat[i].innerHTML))
    }

    let locationame = document.getElementsByClassName("locationName");
    for (let i = 0; i < locationame.length; i++) {
        location_name.push(locationame[i].innerHTML)
    }

    let obj = document.getElementsByClassName("json");
    let str = obj[0].innerText;

    let newStr = str.split(',');
    var myRe = /(formatted_address.+\d},)/;
    var numberRe = /(-*\d.+\d)/;
    var newString = myRe.exec(newStr)[0];
    let splitIt = newString.split("'");

    var locationName = splitIt[2];
    var lat = numberRe.exec(splitIt[9])[0];
    var long = numberRe.exec(splitIt[11])[0];
    console.log(lat);
    console.log(long);
    var element1 = document.getElementById("locationLatitude");
    element1.innerHTML=lat;
    var element2 = document.getElementById("locationLongitude");
    element2.innerHTML=long;

    function initMap() {

        let myLatLng = {lat: parseFloat(lat), lng: parseFloat(long)};

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 8
        });

        setMarkers(map);
        setLogMarkers(map)
    }
    function setMarkers(map){
        let myLatLng = {lat: parseFloat(lat), lng: parseFloat(long)};

        let marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: locationName,
            })
    }
    function setLogMarkers(map){
        for (let i = 0; i < lat_array.length; i++) {
            let marker = new google.maps.Marker({
                position: {lat: lat_array[i], lng: long_array[i]},
                map: map,
                title: location_name[i],
            });
        }
    }

//    if statement to determine some range between search results lat/lng and allLogs lat/lngs
//    to display all markers within range

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVeR1EcysjeZr4eQE_mtiJ6suMxXY52Y&callback=initMap"
        async defer></script>

{% endblock %}
