html, body{
    height: 90%;
    margin: 1%;
}

h3{
    align-content: center;
    text-align: center;
}

#map{
    height: 80%;
}

.lat, .long{
    font-size: 10px;
    display: inline;
}

.json{
    font-size: 1px;
}
