html, body{
    height: 100%;
    margin: 1%;
}

body{

}

nav{
    border-bottom: rgba(255, 173, 33, 1) 2px solid;
    margin-bottom: 1%;
}

li{
    font-family: 'Quicksand', sans-serif;
}
hr{
    color: rgba(255, 173, 33, 1);
}

a{
    font-family: 'Quicksand', sans-serif;
    color: rgb(104, 104, 104);
}

button{
    font-family: 'Quicksand', sans-serif;
    /*margin: 1%;*/
}

h2,h4{
    font-family: 'Quicksand', sans-serif;
}

h3 {
    align-content: center;
    text-align: center;
    font-family: 'Ultra', serif;
    color: rgb(255, 173, 33)
}

p{
    font-family: 'Quicksand', sans-serif;
}

.lat, .long{
    font-size: 10px;
    display: inline;
}

.json{
    font-size: 1px;
}

.mapAndLogs{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 80%;
}

#map{
    height: 80%;
    grid-column: 1;
    grid-row: 1;
    margin: 1% 1% 0 0;
    position: -webkit-sticky;
    position: sticky;
}

.listLogs{
    grid-column: 2;
    grid-row: 1;
    margin: 0 1% 0 1%;
}

.formatSearch{
    display: inline;
}

.formatDetails{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1%;
    margin: 5%;
}

.detailsHeader{
    grid-column: 1;
    grid-row: 1;
}

.detailsDetails{
    grid-column: 1;
    grid-row: 2;
}

.detailsRatings{
    grid-column: 2;
    grid-row: 2;
    border-left: 1px solid rgb(255, 173, 33);
    background-color: rgba(255, 173, 33, 0.25);
    padding-left: 1%;
}

.detailsButtons{
    grid-column: 1;
    grid-row: 3;
}
.detailImage{
    grid-column: 1;
    grid-row: 4;
}